Repository nicolascarrizook/barberiaexclusive: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix --max-warnings 0",
    "prettier --write"
  ],
  "*.{json,css,md}": [
    "prettier --write"
  ],
  "*.{ts,tsx}": [
    "bash -c 'tsc --noEmit'"
  ]
}

fix: resolve PGRST116 errors and UI update issues in barber schedule
  BARBER_SCHEDULE_FIX.md
  src/components/barber/BarberWorkingHours.tsx
  src/services/barber-schedules.service.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

chore: remove debug console.log statements
  src/components/barber/BarberWorkingHours.tsx
  src/components/schedule/ConflictWarnings.tsx
  src/contexts/AuthContext.tsx
  src/hooks/useAuth.ts
  src/layouts/ProtectedLayout.tsx
  src/pages/HomePage.tsx
  src/services/auth.service.ts
  src/services/barber-schedules.service.ts
Due: eslint --fix --max-warnings 0, prettier --write, bash -c 'tsc --noEmit'

tu mensaje de commit
  netlify.toml
Due: none

fix: remove multi-region configuration from vercel.json
  vercel.json
Due: prettier --write

fix: remove environment variable references from vercel.json
  vercel.json
Due: prettier --write
